<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>基于VUE的表单生成器</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="lib/formalize.css"> -->
    <script type="text/javascript" src="lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/kindEditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="lib/kindEditor/zh_CN.js"></script>
    <script type="text/javascript" src="lib/vuedemo.js"></script>
    <script type="text/javascript" src="lib/sortable.js"></script>
    <script type="text/javascript" src="lib/vuedraggable.min.js"></script>
    <script type="text/javascript" src="lib/formMaker.js"></script>
</head>

<body>
    <div id="formMaker">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">IMP表单生成器 beta版</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="load">预览代码</button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row furnace-main">
                <div class="col-md-4">
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation" class="active"><a href="#home" data-toggle="tab">表单列表</a></li>
                        <li role="presentation"><a href="#home1" data-toggle="tab" id="edit-form">编辑表单</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <formList></formList>
                        </div>
                        <div class="tab-pane fade" id="home1">
                            <viewhandler></viewhandler>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <viewlist></viewlist>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:790px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <textarea id="viewMod" name="content" style="width:760px;height:300px;">{{preview}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/x-template" id="edit-btn-group">
    <ul class="list-unstyled">
        <li v-for="(item,index) in items" class="pull-left">
            <button type="button" class="btn btn-success btn-form-item" v-on:click="getForm(item.name)">
                <i v-bind:class="item.icon" class="icon-small btn-icon"></i>{{item.name}}</button>
        </li>
    </ul>
</script>
<script type="text/x-template" id="view-list">
    <ul>
        <draggable id="sortable" :list="items" :options="{group:'people'}">
            <li v-for="(item,index) in items" :class="{'on-choose':item.selected_prop_value === index}" @click="select(index)">
                <template v-if='item.filed_type===4'>
                    <div :class="index" class="formContent">
                        <div class="f-row">
                            <div class="f-col-3">
                                <div class="f-in-col">
                                    <a class="notNullTip" v-if='item.isrequired'>*</a>{{item.title}}
                                </div>
                            </div>
                            <div class="f-col-9">
                                <div class="f-in-col">
                                    <select :id="item.name" :name="item.name">
                                        <option v-for="choose in item.choices">{{choose.choice}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="position: relative;top: -30px;">
                        <button class="edit" type="button" v-on:click="add(index)"><i class="icon-plus icon-small btn-icon"></i></button>
                        <button class="edit" type="button" v-on:click="remove(index)"><i class="icon-remove icon-small btn-icon"></i></button>
                    </div>
                </template>
                <template v-if='item.filed_type===3'>
                    <div :class="index" class="formContent">
                        <div class="f-row">
                            <div class="f-col-3">
                                <div class="f-in-col">
                                    <a class="notNullTip" v-if='item.isrequired'>*</a>{{item.title}}
                                </div>
                            </div>
                            <div class="f-col-9">
                                <div class="f-in-col">
                                    <textarea :id="item.name" rows="5" cols="60" :name="item.name" :placeholder="item.placeholder" /></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="position: relative;top: -30px;">
                        <button class="edit" type="button" v-on:click="add(index)"><i class="icon-plus icon-small btn-icon"></i></button>
                        <button class="edit" type="button" v-on:click="remove(index)"><i class="icon-remove icon-small btn-icon"></i></button>
                    </div>
                </template>
                <template v-if='item.filed_type===2'>
                    <div :class="index" class="formContent">
                        <div class="f-row">
                            <div class="f-col-3">
                                <div class="f-in-col">
                                    <a class="notNullTip" v-if='item.isrequired'>*</a> {{item.title}}
                                </div>
                            </div>
                            <div class="f-col-9">
                                <div class="f-in-col">
                                    <label v-for="choose in item.choices">
                                        <input :type="item.name" :id="item.name" v-model="item.checked" :name="item.name" /> {{choose.choice}}{{item.checked}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="position: relative;top: -30px;">
                        <button class="edit" type="button" v-on:click="add(index)"><i class="icon-plus icon-small btn-icon"></i></button>
                        <button class="edit" type="button" v-on:click="remove(index)"><i class="icon-remove icon-small btn-icon"></i></button>
                    </div>
                </template>
                <template v-if='item.filed_type===1'>
                    <div :class="index" class="formContent">
                        <div class="f-row">
                            <div class="f-col-3">
                                <div class="f-in-col">
                                    <a class="notNullTip" v-if='item.isrequired'>*</a> {{item.title}}
                                </div>
                            </div>
                            <div class="f-col-9">
                                <div class="f-in-col">
                                    <input :type="item.name" :id="item.name" :name="item.name" :placeholder="item.placeholder" :value="item.value" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="position: relative;top: -30px;">
                        <button class="edit" type="button" v-on:click="add(index)"><i class="icon-plus icon-small btn-icon"></i></button>
                        <button class="edit" type="button" v-on:click="remove(index)"><i class="icon-remove icon-small btn-icon"></i></button>
                    </div>
                </template>
            </li>
        </draggable>
    </ul>
</script>
<script type="text/javascript">
formMakerEditor();
KindEditor.ready(function(K) {
    window.editor = K.create('#viewMod', {
        items: ['source'],
        filterMode: false,
        resizeType: 1
    });
});
document.getElementById()
</script>

</html>
