* {
  box-sizing: border-box;
}
body {
  background-color: #e4e4e4;
  font-family: sans-serif;
}
li {
  list-style: none;
}
input {
  height: 20px;
}
#radio,
#checkbox {
  vertical-align: middle;
  margin-top: -2px;
}
.furnace-main {
  background-color: #e4e4e4;
  border-radius: 5px;
  min-width: 1200px;
  width: 70%;
  margin: 0 auto;
}
.furnace-main .col-md-8 {
  border-left: 1px solid #000;
  min-height: 600px;
}
.btn-group {
  margin-top: 8px;
}
.btn-icon {
  margin-right: 6px;
}
.btn-form-item {
  width: 160px;
  margin: 10px;
  text-align: left!important;
}
#sortable {
  margin-top: 10px;
}
#sortable li {
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 20px 10px;
  border-radius: 6px;
}
#sortable li:hover {
  border: 1px dashed #7CC07F;
}
.icon-plus {
  color: red;
}
.icon-remove {
  color: green;
}
#file {
  display: inline-block !important;
}
.edit {
  width: 28px;
}
.on-choose {
  border: 1px solid #9ABA9E;
  background-color: #effff6;
}
.notNullTip{
  color: red;
  height: 20px;
  line-height: 20px;
}
.btn-add,.btn-del{
  width: 26px;
  height: 26px;
}
.btn-add{
  color: red; 
}